apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"wireguard"},"name":"wireguard","namespace":"vpn-system"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"wireguard"}},"template":{"metadata":{"labels":{"app":"wireguard"}},"spec":{"containers":[{"env":[{"name":"PUID","value":"1000"},{"name":"PGID","value":"1000"},{"name":"TZ","value":"America/New_York"}],"image":"linuxserver/wireguard:latest","name":"wireguard","ports":[{"containerPort":51820,"name":"wireguard","protocol":"UDP"}],"resources":{"limits":{"cpu":"200m","memory":"128Mi"},"requests":{"cpu":"100m","memory":"64Mi"}},"securityContext":{"capabilities":{"add":["NET_ADMIN","SYS_MODULE"]},"privileged":true},"volumeMounts":[{"mountPath":"/config/wg0.conf","name":"wireguard-config","subPath":"wg0.conf"},{"mountPath":"/lib/modules","name":"lib-modules","readOnly":true}]}],"nodeSelector":{"kubernetes.io/os":"linux"},"volumes":[{"configMap":{"name":"wireguard-config"},"name":"wireguard-config"},{"hostPath":{"path":"/lib/modules","type":"Directory"},"name":"lib-modules"}]}}}}
  creationTimestamp: "2025-11-30T02:31:23Z"
  generation: 2
  labels:
    app: wireguard
  name: wireguard
  namespace: vpn-system
  resourceVersion: "1764627596369567019"
  uid: baabb876-d5f6-43e3-9267-18e4f3497879
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: wireguard
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/restartedAt: "2025-11-30T19:50:42-06:00"
      creationTimestamp: null
      labels:
        app: wireguard
    spec:
      containers:
      - env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "1000"
        - name: TZ
          value: America/New_York
        image: linuxserver/wireguard:latest
        imagePullPolicy: Always
        name: wireguard
        ports:
        - containerPort: 51820
          name: wireguard
          protocol: UDP
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
            - SYS_MODULE
          privileged: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /config/wg0.conf
          name: wireguard-config
          subPath: wg0.conf
        - mountPath: /lib/modules
          name: lib-modules
          readOnly: true
      dnsPolicy: ClusterFirst
      nodeSelector:
        kubernetes.io/os: linux
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: wireguard-config
        name: wireguard-config
      - hostPath:
          path: /lib/modules
          type: Directory
        name: lib-modules
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-11-30T02:31:23Z"
    lastUpdateTime: "2025-12-01T01:50:46Z"
    message: ReplicaSet "wireguard-6f5548966d" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-12-01T22:19:56Z"
    lastUpdateTime: "2025-12-01T22:19:56Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 2
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
