---
apiVersion: v1
kind: Service
metadata:
  name: producer
  namespace: ca3-app
  labels:
    app: producer
    tier: ingestion
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  selector:
    app: producer

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: producer
  namespace: ca3-app
  labels:
    app: producer
    tier: ingestion
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer
  template:
    metadata:
      labels:
        app: producer
        tier: ingestion
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      hostAliases:
        - ip: "10.101.94.73"
          hostnames:
            - "kafka-0.kafka.ca3-app.svc.cluster.local"
            - "kafka.ca3-app.svc.cluster.local"
      containers:
        - name: producer
          image: hiphophippo/metals-producer:v1.1
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "10.101.94.73:9092"
            - name: KAFKA_TOPIC
              value: "metals-prices"
            - name: PRODUCER_INTERVAL
              value: "5"
            - name: LOG_LEVEL
              value: "INFO"
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: api-key
                  key: key
          resources:
            limits:
              cpu: "500m"
              memory: "256Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"
          volumeMounts:
            - name: producer-config
              mountPath: /app/config.yml
              subPath: config.yml
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 120
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 30
            periodSeconds: 10
      volumes:
        - name: producer-config
          configMap:
            name: producer-config
